// PanelDivider - Simple line between panels

.panelDivider {
  background-color: var(--cadence-border-subtle);
  flex-shrink: 0;
}

.vertical {
  width: 1px;
  height: 100%;
}

.horizontal {
  width: 100%;
  height: 1px;
}
